<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="ServerMainConfig">
  <Properties>
    <Property name="filename">log/log.log</Property>
  </Properties>

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
        <PatternLayout pattern="%msg%n" />
    </Console>

    <RollingFile
    name="File" 
    fileName="${filename}"
    filePattern="log/%d{yyyy-MM-dd HH-mm-ss},log.log">
      <PatternLayout>
        <Pattern>%highlight{%d [%t] %-5level: %msg%n%throwable}</Pattern>
      </PatternLayout>
      <SizeBasedTriggeringPolicy size="10 MB"/>
    </RollingFile>
  </Appenders>
  
 
  <Loggers>
    <Logger name="org.mhdeeb.server" level="all" additivity="false">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="File"/>
    </Logger>

    <Root level="trace">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>

</Configuration>